[submodule "sigfox-ep-lib"]
	path = middleware/sigfox/sigfox-ep-lib
	url = https://github.com/sigfox-tech-radio/sigfox-ep-lib.git
[submodule "sigfox-ep-addon-rfp"]
	path = middleware/sigfox/sigfox-ep-addon-rfp
	url = https://github.com/sigfox-tech-radio/sigfox-ep-addon-rfp.git
[submodule "stm32l0xx-registers"]
	path = drivers/registers/stm32l0xx-registers
	url = https://github.com/Ludovic-Lesur/stm32l0xx-registers.git
[submodule "embedded-utils"]
	path = middleware/utils/embedded-utils
	url = https://github.com/Ludovic-Lesur/embedded-utils.git
