[submodule "sigfox-ep-lib"]
	path = middleware/sigfox/sigfox-ep-lib
	url = https://github.com/sigfox-tech-radio/sigfox-ep-lib.git
[submodule "sigfox-ep-addon-rfp"]
	path = middleware/sigfox/sigfox-ep-addon-rfp
	url = https://github.com/sigfox-tech-radio/sigfox-ep-addon-rfp.git
